<div id="container">
  <header> <img src="https://media.giphy.com/media/lQ1nXVifuLqyVAH2Gu/giphy.gif"> <p>Welcome to the Dry Joke App</p> <img
      src="https://media.giphy.com/media/lQ1nXVifuLqyVAH2Gu/giphy.gif"></header>
  <button id="show-joke" (click)='clicked()' [hidden]='noShow'>I want to see a joke!</button>
  <div id="joke-container" [hidden]='showJoke'>
    <p [hidden]='isShow' id="countdown">{{timeLeft}} seconds left to see a new joke</p>
    <p>{{setup}}</p>
    <p id="punch-line">{{punchline}}</p>
  </div>
</div>
